
.bar {
  margin-right: 30px;
  font-size: 22px;
  font-weight: 500;
  color: rgb(218, 214, 214);
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  background: none;
}
.bar:hover {
  color: #916b02;
}